{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-image" data-bg="{% static 'images/bg/breadcrumb.png' %}">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-banner text-left">
                        <h2>Blog</h2>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->
    <!--Blog section start-->
    <div class="blog-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                {% for post in object_list %}
                    <div class="blog col-lg-4 col-md-6">
                        <div class="blog-inner mb-30">
                            <div class="blog-media"><a href="blog-details.html" class="image"><img
                                    src="{{ post.image.url }}" alt=""></a></div>
                            <div class="content">
                                <ul class="meta">
                                    <li>{{ post.created_at }}</li>
                                    <li><a href="#">25 Likes</a></li>
                                    <li><a href="#">28 Views</a></li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">{{ post.title }}</a></h3>
                                <a class="read-more" href="{% url 'blog:detail' pk=post.pk %}">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-20 mt-xs-0">
                <div class="col">
                    <ul class="page-pagination">
                        {% for page in page_obj.paginator.page_range %}
                            <li{% if page == page_obj.number %} class=active {% endif %}>
                                <a href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__pagination">
                        {% for page in page_obj.paginator.page_range %}
                            <a {% if page == page_obj.number %}class="active"{% endif %}
                               href="?page={{ page }}">{{ page }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Blog section end-->
    <!-- Newsletter Section Start -->
    <div class="newsletter-section section bg-gray-two pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-95 pb-lg-75 pb-md-65 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content">
                        <h2>Subscribe Our Newsletter</h2>
                        <p>Subscribe Today for free and save 10% on your first purchase.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newsletter-wrap">
                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input type="email" placeholder="Enter Your Email Address Here..." required>
                                <button type="submit" value="submit">SUBSCRIBE!</button>
                            </form>

                        </div>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Section End -->
{% endblock %}