{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section bg-image" data-bg="{% static 'images/bg/breadcrumb.png' %}">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-banner text-left">
                        <h2>Contact</h2>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page Banner Section End -->
    <!--Contact section start-->
    <div class="conact-section section pt-85 pt-lg-65 pt-md-55 pt-sm-45 pt-xs-35  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-wrap">
                        <h3 class="contact-title">Write Us</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="name-fild-padding mb-sm-30 mb-xs-30">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-form-style mb-20">
                                                    <label class="fild-name">Name</label>
                                                    <input name="name" placeholder="" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="contact-form-style mb-20">
                                                    <label class="fild-name">Email</label>
                                                    <input name="email" placeholder="" type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="check-box">
                                                    <input type="checkbox" id="create_account">
                                                    <label for="create_account">I am not a robot</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="contact-form-style bl">
                                        <label class="fild-name pl-15">Message</label>
                                        <textarea class="pl-15" name="message"
                                                  placeholder="Type your message here.."></textarea>
                                        <button class="btn" type="submit"><span>Send message</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Contact section end-->
    <!--Contact Map section start-->
    <div class="container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.653982009868!2d69.22858741528732!3d41.31639047927076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba287dd9341%3A0x966819d2fe0d7c38!2sSamarqand%20Darvoza!5e0!3m2!1sen!2s!4v1626526138946!5m2!1sen!2s"
                    width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

{% endblock %}